In [8]:
import pandas as pd
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings("ignore")
# Define connection parameters
username = 'username'
password = 'password'
host = 'host' 
port = 'port'       
database = 'music'

# Create a connection string
connection_string = f"mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}"

# Create an SQLAlchemy engine
engine = create_engine(connection_string)

In [27]:
file_path1 = r"C:\Users\Mubasshira\Downloads\Music\Venue.csv"
file_path2 = r"C:\Users\Mubasshira\Downloads\Music\Shows.csv"
file_path3 = r"C:\Users\Mubasshira\Downloads\Music\Tour.csv"
file_path4 = r"C:\Users\Mubasshira\Downloads\Music\Artist.csv"
file_path5 = r"C:\Users\Mubasshira\Downloads\Music\Album.csv"
file_path6 = r"C:\Users\Mubasshira\Downloads\Music\Track.csv"

,Venue_ID,Venue,Venue_type_ID,Capacity,Construction_start_date,Opening_date,Closing_date,Demolition_date,Construction_cost_$m,Address,City_ID,Latitude,Longitude,Other_names
0,1,Mohegan Sun Arena at Casey Plaza,1,10000.0,15-09-1997,13-11-1999,NaN,NaN,44.0,"255 Highland Park Blvd, Wilkes-Barre Township,...",667,41.240373,-75.848126,Northeastern Pennsylvania Civic Arena and Conv...
1,2,Allstate Arena,1,22000.0,12-09-1978,11-05-1980,NaN,NaN,20.0,"6920 Mannheim Rd, Rosemont, IL 60018, United S...",522,42.005319,-87.887819,Rosemont Horizon (19801999)
2,3,Gainbridge Fieldhouse,1,19000.0,22-07-1997,06-11-1999,NaN,NaN,183.0,"125 S Pennsylvania St, Indianapolis, IN 46204,...",284,39.764138,-86.155547,Conseco Fieldhouse (19992011); Bankers Life F...
3,4,The Palace of Auburn Hills,1,23000.0,07-06-1986,13-08-1988,12-10-2017,11-07-2020,90.0,"3777 Lapeer Rd, Auburn Hills, MI 48326, United...",32,42.696944,-83.245556,NaN
4,5,Rogers Centre,2,55000.0,03-10-1986,03-06-1989,NaN,NaN,570.0,"1 Blue Jays Way, Toronto, ON M5V 1J1, Canada",615,43.641818,-79.389144,Skydome (19892005)

In [ ]:
venue = pd.read_csv(file_path1, encoding='ISO-8859-1')
shows = pd.read_csv(file_path2, encoding='ISO-8859-1')
tour = pd.read_csv(file_path3, encoding='ISO-8859-1')
artist = pd.read_csv(file_path4, encoding='ISO-8859-1')
album = pd.read_csv(file_path5, encoding='ISO-8859-1')
track = pd.read_csv(file_path6, encoding='ISO-8859-1')

In [28]:
import datetime
date_columns = ['Construction_start_date', 'Opening_date', 'Closing_date', 'Demolition_date']

for col in date_columns:
    venue[col] = pd.to_datetime(venue[col], errors='coerce', dayfirst=True)

In [40]:
shows['Show_date'] = pd.to_datetime(shows['Show_date'], errors='coerce')

C:\Users\Mubasshira\AppData\Local\Temp\ipykernel_15124\3673321228.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  shows['Show_date'] = pd.to_datetime(shows['Show_date'], errors='coerce')

In [45]:
date_columns = ['Start_date','End_date']

for col in date_columns:
    tour[col] = pd.to_datetime(tour[col], errors='coerce', dayfirst=True)

In [14]:
album['Release_date'] = pd.to_datetime(album['Release_date'], errors='coerce')

C:\Users\Mubasshira\AppData\Local\Temp\ipykernel_11340\1142370537.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  album['Release_date'] = pd.to_datetime(album['Release_date'], errors='coerce')

In [19]:
track['Single_release_date'] = pd.to_datetime(track['Single_release_date'], errors='coerce')

C:\Users\Mubasshira\AppData\Local\Temp\ipykernel_11340\75319627.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  track['Single_release_date'] = pd.to_datetime(track['Single_release_date'], errors='coerce')

In [20]:
venue.to_sql('Venue', con=engine, if_exists='replace', index=False)
shows.to_sql('Shows', con=engine, if_exists='replace', index=False)
tour.to_sql('Tour', con=engine, if_exists='replace', index=False)
artist.to_sql('Artist', con=engine, if_exists='replace', index=False)
album.to_sql('Album', con=engine, if_exists='replace', index=False)
track.to_sql('Track', con=engine, if_exists='replace', index=False)

print("DataFrames uploaded successfully.")

DataFrame uploaded successfully.

C:\Users\Mubasshira\AppData\Local\Temp\ipykernel_11340\3849673785.py:1: UserWarning: The provided table name 'Track' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  track.to_sql('Track', con=engine, if_exists='replace', index=False)